
.color-display{
  padding: 10px;
  width: 350px;
  height: 100px;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid rgb(210, 209, 209);
display: flex;
 justify-content: center;
 align-items: center;
text-align: center;
}

h1{
margin: 50px;

}
h3{
  font-size: 1.5em;
}

label{
  font-size: 1.3em;
}



